
/* ==================================================== */
/* Import Fonts                                         */
/* ==================================================== */

/* latin-ext */
@font-face {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('DM Mono Regular'), local('DMMono-Regular'), url(https://fonts.gstatic.com/s/dmmono/v1/aFTU7PB1QTsUX8KYthSQBK6PYK3EXw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('DM Mono Regular'), local('DMMono-Regular'), url(https://fonts.gstatic.com/s/dmmono/v1/aFTU7PB1QTsUX8KYthqQBK6PYK0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inconsolata/v19/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp7c8WRL2kXWdycuJDETf.woff) format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inconsolata/v19/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp7c8WRP2kXWdycuJDETf.woff) format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inconsolata/v19/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp7c8WR32kXWdycuJDA.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Tinos Regular'), local('Tinos-Regular'), url(https://fonts.gstatic.com/s/tinos/v13/buE4poGnedXvwjX2fmRD8iI_wNU.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Tinos Regular'), local('Tinos-Regular'), url(https://fonts.gstatic.com/s/tinos/v13/buE4poGnedXvwjX_fmRD8iI_wNU.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Tinos Regular'), local('Tinos-Regular'), url(https://fonts.gstatic.com/s/tinos/v13/buE4poGnedXvwjX3fmRD8iI_wNU.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Tinos Regular'), local('Tinos-Regular'), url(https://fonts.gstatic.com/s/tinos/v13/buE4poGnedXvwjX4fmRD8iI_wNU.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* hebrew */
  @font-face {
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Tinos Regular'), local('Tinos-Regular'), url(https://fonts.gstatic.com/s/tinos/v13/buE4poGnedXvwjX5fmRD8iI_wNU.woff2) format('woff2');
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Tinos Regular'), local('Tinos-Regular'), url(https://fonts.gstatic.com/s/tinos/v13/buE4poGnedXvwjX0fmRD8iI_wNU.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Tinos Regular'), local('Tinos-Regular'), url(https://fonts.gstatic.com/s/tinos/v13/buE4poGnedXvwjX1fmRD8iI_wNU.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Tinos Regular'), local('Tinos-Regular'), url(https://fonts.gstatic.com/s/tinos/v13/buE4poGnedXvwjX7fmRD8iI_.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* ==================================================== */
/* ==================================================== */
/* ==================================================== */

/* ------------------------------------- 
            Fonts
 --------------------------------------- */
#main-header-container h1 {
    font-size:82pt;
    font-family: 'Tinos', serif;
}
#main-header-container h2 {
    font-size:20pt;
    font-family: 'Tinos', serif;
}
#main-header-container .main-menu li {
    font-size: 32pt;
    font-family: 'Tinos', serif;
}
#main-content-container h1 {
    font-size:82pt;
    font-family: 'Tinos', serif;
}

#main-content-container h2 {
    font-size:24pt;
    font-family: 'Roboto', sans-serif;
}
.documentation-table p,
.documentation-table a
{
    font-size:18pt;
    font-family: 'Roboto', sans-serif;
}

#main-content-container li {
    font-size:14pt;
    font-family: 'Times New Roman', serif;
}
#main-content-container p,
#main-content-container dd,
#main-content-container dl
{
  font-size:14pt;
  font-family: 'Times New Roman', serif;

}
code.tt {
    font-family: 'DM Mono', monospace;
}
code.command {
    font-size:14pt;
    font-family: 'Inconsolata', monospace;
}
pre {
    font-size: 14pt;
    font-family: 'Inconsolata', monospace;
}
.warning, .note {
    font-family: "Times New Roman", serif;
}
table td {
    font-size: 14pt;
    font-family: 'Inconsolata', monospace;
}

/* ------------------------------------- 
             Common Margins
 --------------------------------------- */
code.command {
    margin: 1em 2.5em 1em 2.5em;
}
.warning, .note {
    margin: 1em 3em 1em 3em;
}

/* ------------------------------------- 
             Whole Page
 --------------------------------------- */

 .center { text-align:center; }

 body {
     margin-left:4em;
     margin-right:4em;
     padding:0;
 }
 #main-container {
    max-width:72em;
    margin-left:auto;
    margin-right:auto;
 
 }
 
 #main-footer 
 {
     margin-top:2em;
     display:block;
     border-top:1px dashed black;
 }
 
/* ------------------------------------- 
             Header 
 --------------------------------------- */

div#main-header-container h1
{
    margin:0; padding:0;
    text-align:center;
    clear:both;
}
div#main-header-container h2
{
    position:relative;
    top:-0.5em;
    margin:0; padding:0;
    text-align:center;
    clear:both;
    overflow:auto;
}
div#main-content-container ul
{
}
/* ------------------------------------- 
             Menu
 --------------------------------------- */

.ui-corner-all {
    display: inline-block;
    margin-top:2px; margin-bottom:2px;
}
ul.main-menu 
{
    margin:0; padding:0;
    margin-bottom:1em;
    list-style-type:none;
    text-align:center;
    display:block;
    text-align:center;
}

.menu-first
{
    margin-left:auto;
    margin-right:0.5em;
}
.menu-last
{
    margin-left:0.5em;
    margin-right:auto;
    clear:right;
}
ul.main-menu li.menu-current
{
    padding:.2em;
    position:relative;
}
ul.main-menu li:not(.menu-current) a:hover 
{
 
    position:relative;
    top:-4pt;
}
ul.main-menu li
{
    display:inline-block;
}
ul.main-menu li.menu-current
{
    cursor:default;
}
ul.main-menu li a
{
    text-decoration:none;
    padding: .2em;
    color:#000;
    background-color:#6DBA3C;
    border:4px solid transparent;
}
ul.main-menu li a:hover,
ul.main-menu li.menu-current
{
    color:#000;
    background-color:#6DBA3C;
}
ul.main-menu li.menu-current
{
    border:4px dashed #fff;
}
/* ------------------------------------- 
             Content
 --------------------------------------- */

.code-inline {
    border: 1px solid #777;
    border-radius:4px;
    padding:1px;
}
.hexdump {
    background-color:#f9fff5;
    display:inline-block;
}
.command {
    padding:0.5em;
    color:black;
    display:block;
    border-radius:0.5em;
    background-color:#f9fff5;
    border:5px solid #444;
}
.warning {
    padding:0.5em;
    color:black;
    display:block;
    background-color:rgb(255, 238, 238);
    border:5px dashed #A44;
}
.note {
    padding:0.5em;
    color:black;
    display:block;
    background-color:rgb(255, 255, 238);
    border:5px dashed #AA4;
}
.parameters-table {
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
    margin-top:1em;
    margin-bottom:1em;
}
.parameters-table td, .parameters-table th:not(:first-child) {
    text-align:center;
    border:1px solid black;
    padding:8px;
}
.documentation-table {
    margin-left:auto;margin-right:auto;table-layout:fixed;
}
.bulleted-definition-list dt {
  margin-left:1em;
  margin-right:1em;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}
.bulleted-definition-list dd {
  margin:1em 3.5em 1em 3.5em;
}
.spaced-bulleted-list li {
  margin-top:1em;
  margin-bottom:1em;
}
.big-and-center-image {
  text-align:center;
}
.big-and-center-image img{
  width: 100%;
  max-width:50em;
}
/* ------------------------------------- 
             Console style
 --------------------------------------- */
.console
{
  display:block;
  border:8px solid black;
  -moz-border-radius: 16px/*{cornerRadius}*/; 
  -webkit-border-radius: 16px/*{cornerRadius}*/; 
  border-radius: 16px/*{cornerRadius}*/;
  padding:0.5em 1em;
}